<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'crm/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'crm/jquery.datetimepicker.min.css' %}">
    <script src="{% static 'crm/jquery.js' %}"></script>
    <script src="{% static 'crm/jquery.datetimepicker.full.js' %}"></script>
</head>
<body>

<div class="wrapper">
    <div class="contain">
        <div class="header">
            <div class="header__body">
                <a href="#" class="header__logo">
                    <img src="{% static 'crm/img/AliDent.svg' %}" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="#" class="header__link">Главная</a>
                        </li>
                        <li>
                            <a href="#" class="header__link">Прайс</a>
                        </li>
                      <!--   <li>
                            <a href="#" class="header__link">Акции</a>
                        </li> -->
                        <li>
                            <a href="#" class="header__link">Контакты</a>
                        </li>
                      <!--   <li>
                            <a href="#" class="header__link">Галерея</a>
                        </li> -->
                        <li>
                            <button class="open-button" onclick="openForm()" id="appointment">Запись</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


<!-- <nav class="navbar">
    <div class="logo">
        <img src="{% static 'crm/img/AliDent.svg' %}" alt="">
    </div>
    <div class="nav">
        <a href="">Главная</a>
        <a href="">Прайс</a>
        <a href="">Акции</a>
        <a href="">Контакты</a>
        <a href="">Галерея</a>
        <button class="open-button" onclick="openForm()" id="appointment">Запись</button>
    </div>
</nav> -->


<div class="form-popup" id="myForm">
    <form action="" class="form-container">
        <h1>Записаться на прием</h1>
        <form method="post">
            {% csrf_token %}
            Имя:{{ form.name }}
            Фамилия:{{ form.surname }}
            Телефон:{{ form.phone }}
            Время:
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                {{ form.time }}
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>


            Услуга:{{ form.service }}
            Врач:{{ form.doctor }}
            <button type="submit" formmethod="post" class="btn apply">Записаться</button>
            <button type="" class="btn cancel" onclick="closeForm()">Закрыть</button>
        </form>
    </form>
</div>


<div class="content">
    <div class="content-left">
        <h1>Ваша улыбка - <br>Наша забота!</h1>
        <p>
            Наши высококвалифицированные доктора приложат все усилия, чтобы ваши зубы были нетолько красивыми но и здоровыми!
        </p>
        <p> 
            Абсолютно любое Вашего желание будет фелигранно и качественно исполнено нашими высококвалифицированными докторами!
        </p>
    </div>
    <div class="content-right">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'crm/img/docs/b3.JPG' %}" alt="First slide" width="900" height="450px">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'crm/img/docs/A15.JPG' %}" alt="Second slide" width="900" height="450px">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'crm/img/docs/3.JPG' %}" alt="Third slide" width="900" height="450px">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
</div>

<div class="appointment">
    <div class="appointment-left">
        <h2>ХОТИТЕ ЗАПИСАТЬСЯ?<br>СДЕЛАЙТЕ ЭТО ПРЯМО СЕЙЧАС!</h2>
        <hr>
        <p>Запишитесь на прием к доктору за пару кликов<br>или по телефону!</p>
        <div class="appointmentbtn"><button id="leftbtn" class="open-button" onclick="openForm()">Запись онлайн!</button> <div id="or">или</div>
        <div class="nestedbtn" id="btn">
            <div id="whitebtn">По номеру</div>
            <div id="pinkbtn">+996ХХХХХХХХХ</div>
        </div>
        </div>
    </div>
    <div class="appointment-right">
        <h2>ХОТИТЕ ЗАПИСАТЬСЯ?<br>СДЕЛАЙТЕ ЭТО ПРЯМО СЕЙЧАС!</h2>
        <hr>
    </div>
</div>

<div class="about-us">
    <div class="about">
        <h3>О нас</h3>
        <h2>Добро пожаловать в<br>нашу стоматологию!</h2>
        <hr>
        <h4>Наша стоматология</h4>
        <p>
            У нас Вы убедитесь - стоматология в настоящее время способна творить чудеса.
        </p>
        <p>
            Стоматологическая клиника «АлиДент Семейная стоматолгия! » предоставляет возможность обратиться к профессионалам. Эстетическая, имплантационная, детская ортодонтическая стоматология - среди врачей нашей клиники есть высококвалифицированные специалисты всех современных направлений стоматологии.
        </p>
    </div>
    <div class="gallery">
        <div class="mainimg">
            <img src="{% static 'crm/img/docs/b9.jpg' %}" alt="">
        </div>
        <div class="secondaryimg">
            <img src="{% static 'crm/img/docs/b2.JPG' %}" alt="">
            <img src="{% static 'crm/img/docs/2.JPG' %}" alt="">
            <img src="{% static 'crm/img/docs/A15.JPG' %}" alt="">
        </div>
    </div>
</div>

<div class="doctors">
    <h1>Наши доктора</h1>
    <hr>
    <div class="doctorsimg">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#first" class="nav-link active" role="tab" data-toggle="tab">
                    <img src="{% static 'crm/img/doctors/Зарина.JPG' %}" alt="">
                </a>
            </li>
            <li class="nav-item">
                <a href="#second" class="nav-link" role="tab" data-toggle="tab">
                    <img src="{% static 'crm/img/doctors/Эламан.JPG' %}" alt="">
                </a>
            </li>
            <li class="nav-item">
                <a href="#third" class="nav-link" role="tab" data-toggle="tab">
                    <img src="{% static 'crm/img/doctors/Жылдыз.JPG' %}" alt="">
                </a>
            </li>
            <li class="nav-item">
                <a href="#fourth" class="nav-link" role="tab" data-toggle="tab">
                    <img src="{% static 'crm/img/doctors/Лия.JPG' %}" alt="">
                </a>
            </li>
            <li class="nav-item">
                <a href="#fifth" class="nav-link" role="tab" data-toggle="tab">
                    <img src="{% static 'crm/img/doctors/Жоомарт.JPG' %}" alt="">
                </a>
            </li>
            <li class="nav-item">
                <a href="#sixth" class="nav-link" role="tab" data-toggle="tab">
                    <img src="{% static 'crm/img/doctors/Эльчибек.JPG' %}" alt="">
                </a>
            </li>
            <li class="nav-item">
                <a href="#seventh" class="nav-link" role="tab" data-toggle="tab">
                    <img src="{% static 'crm/img/doctors/Жылдыз.JPG' %}" alt="">
                </a>
            </li>
            <li class="nav-item">
                <a href="#eighth" class="nav-link" role="tab" data-toggle="tab">
                    <img src="{% static 'crm/img/doctors/Жылдыз.JPG' %}" alt="">
                </a>
            </li>
            <li class="nav-item">
                <a href="#nineth" class="nav-link" role="tab" data-toggle="tab">
                    <img src="{% static 'crm/img/doctors/Жылдыз.JPG' %}" alt="">
                </a>
            </li>
        </ul>
    </div>
    
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="first">
            <div class="aboutdoctors">
                <div class="aboutdoc">
                    <div class="leftcontent">
                        <h2>Мамажанова Зарина Расуловна </h2>
                        <p>
                        Квалифицированный стоматолог, чье призвание - лечить. <br>
                        Врач стоматолог общей практики. <br>
                        Стаж работы 13 лет. <br>
                        Место работы : Ошская Межобластная Стоматологическая поликлиника. <br>
                        Ошская Межобластная Клиническая Детская Больница Детский Врач Стоматолог <br>
                        Клиника Али-Дент. <br>
                        Курсы повышения квалификации: <br>
                        1. Керамические реставрации.2018 <br>
                        2. Прямые реставрации фронтальных и жевательных зубов. 2019 <br>
                        3. Современные способы Комьпютерно- Томографических  <br>визуализаций в стоматологии 2020 <br>
                        4. Оказание первой медицинской помощи 2019 <br>
                        5. Основные критерии успешного эндодонтического лечения 2018 <br>
                        6. Курс детской стоматологии «Как стать зубной феей».2018 <br>
                        7. Актуальные вопросы терапевтической стоматологии 2018</p>
                    </div>
                    <div class="rightcontent">
                        <img src="{% static 'crm/img/doctors/Зарина.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <div role="tabpanel" class="tab-pane" id="second">
            <div class="aboutdoctors">
                <div class="aboutdoc">
                    <div class="leftcontent">
                        <h2>Иманжанов Эламан Табылдиевич</h2>
                        <p>Врач-стоматолог терапевт хирург <br>
                        Консультация  <br>врача-стоматолога,
                        Местная Анестезия в стоматологии <br>
                        Базовая имплантология <br>
                        Хир лечение заболеваний слюных желез <br>
                        Удаление Ретинированных зубов сложное (просто) <br>
                        Профессиональное гигиена полости рта  <br>
                        Лечение молочных и постоянных зубов <br>
                        Реставрация и наращивание зубов.
                        </p>
                    </div>
                    <div class="rightcontent">
                        <img src="{% static 'crm/img/doctors/Эламан.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <div role="tabpanel" class="tab-pane" id="third">
            <div class="aboutdoctors">
                <div class="aboutdoc">
                    <div class="leftcontent">
                        <h2>Исмаилова Жылдыз Кыдыкбековна</h2>
                        <p>Врач-стоматолог детский терапевт
                        <br>
                        Консультация врача-стоматолога,
                        <br>
                        Местная Анестезия в стоматологии
                        <br>
                        Профессиональное гигиена полости рта
                        <br>
                        Лечение молочных и постоянных зубов
                        <br>
                        Реставрация и наращивание зубов.
                        <br>
                        Заболевание пародонта
                        <br>
                        Лечение пульпита и переодонтита
                        <br>
                        Перелечивание корневых каналов постоянных зубов,искревленные каналы
                        <br>
                        Д.Николаев. г.Брянск 2019
                        <br>
                        Первая помощь при гиппохлоридной аварии
                        <br>
                        Д.Николаев г.Брянск 2019
                        <br>
                        Первоклассная эндодонтия
                        <br>
                        Д.Николаев г.Брянск 2019
                        <br>
                        Снятие оттесных материалов </p>
                    </div>
                    <div class="rightcontent">
                        <img src="{% static 'crm/img/doctors/Жылдыз.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="fourth">
            <div class="aboutdoctors">
                <div class="aboutdoc">
                    <div class="leftcontent">
                        <h2>Пак ЛИЯ Будимировна</h2>
                        <p> Профилактика и лечение кариеса.
                        <br>
                        · Первичная консультация с составлением плана лечения.
                        <br>
                        · Лечение и пломбирование корневых каналов зубов
                        <br>
                        · Лечение и профилактика заболеваний слизистой оболочки рта
                        <br>
                        · Профилактика Лечение периодонтита
                        <br>
                        · Диагностика и лечение некариозных заболеваний-таких как флюороз,гипоплазия эмали,пигментация или эрозия зубов.
                        <br>
                        · Эстетическая стоматология.
                        <br>
                        Восстановление сколов и трещин.
                        <br>
                        Курсы повышения квалификации
                        <br>
                        1)Заболевание пародонта
                        <br>
                        2)Оказание первой медицинской помощи 2019
                        <br>
                        3)Эндодонтия сложные вопросы(Stom ACADEMY)</p>
                    </div>
                    <div class="rightcontent">
                        <img src="{% static 'crm/img/doctors/Жылдыз.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="fifth">
            <div class="aboutdoctors">
                <div class="aboutdoc">
                    <div class="leftcontent">
                        <h2>Айдарканов Жоомарт Айдарканович</h2>
                        <p>Врач-стоматолог общей практики.
                        <br>
                        Консультация врача-стоматолога,
                        <br>
                        Лечение постоянных и молочных зубов.
                        <br>
                        Лечение воспалительных заболеваний десен
                        <br>
                        Профессиональное гигиена полости рта
                        <br>
                        Отбеливание зубов
                        <br>
                        Художественная реставрация
                        <br>
                        Эндодонтическое лечение зубов
                        <br>
                        Восстановление коронковой части зуба при помощи стекловолоконного
                        <br>
                        и анкерного штифта.
                        <br>
                        Дополнительное обучение в семинарах(курсы тренинги)
                        <br>
                        Методика поведения первичной эндодонтии
                        <br>
                        Техника распломбировки многокорневых зубов
                        <br>
                        Оказание первой помощи при гипохлоровидной аварии
                        <br>
                        Реставрация жевательных и передних групп зубов </p>
                    </div>
                    <div class="rightcontent">
                        <img src="{% static 'crm/img/doctors/Жоомарт.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="sixth">
            <div class="aboutdoctors">
                <div class="aboutdoc">
                    <div class="leftcontent">
                        <h2>Мырзабеков Элчибек Мырзабекович </h2>
                        <p>Врач-стоматолог хирург терапевт.
                        <br>
                        Консультация врача-стоматолога хирурга и терапевта,
                        <br>
                        Лечение постоянных и молочных зубов.
                        <br>
                        Имлантация
                        <br>
                        Удаление постоянного зуба (простое),
                        <br>
                        Удаление постоянного зуба (сложное),
                        <br>
                        Удаление ретинированного зуба (8-го),
                        <br>
                        Френулотомия (рассечение уздечки языка у детей),
                        <br>
                        Периостотомия,
                        <br>
                        Цистэктомия,
                        <br>
                        Резекция верхушки корня зуба, ,
                        <br>
                        Перикоронаротомия (иссечение капюшона).
                        <br>                        
                        В данное время занимается диссертационной работой в ЧЛХ(Челюстно лицевой хирургии ) и патологии ВНЧС(вичисочно-нижнечелюстной сустав)
                        <br>
                        Курсы повышения квалификации
                        <br>
                        1)Эстетическая имплантология с направленной костной регенерацией.
                        <br>
                        19ноября 2016г.Москва
                        <br>
                        2)Особенности работы с системой имплантации ANKYLOS DENTSPLY FRIADENT
                        <br>
                        3)Внедрение операционного микроскопа в повседневную практику врача – стоматолога.
                        <br>
                        16марта 2018 г. Г.Москва </p>
                    </div>
                    <div class="rightcontent">
                        <img src="{% static 'crm/img/doctors/Эльчибек.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="seventh">
            <div class="aboutdoctors">
                <div class="aboutdoc">
                    <div class="leftcontent">
                        <h2>Описание</h2>
                        <p>Описание</p>
                    </div>
                    <div class="rightcontent">
                        <img src="{% static 'crm/img/doctors/Жылдыз.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="eighth">
            <div class="aboutdoctors">
                <div class="aboutdoc">
                    <div class="leftcontent">
                        <h2>Описание</h2>
                        <p>Описание</p>
                    </div>
                    <div class="rightcontent">
                        <img src="{% static 'crm/img/doctors/Жылдыз.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="nineth">
            <div class="aboutdoctors">
                <div class="aboutdoc">
                    <div class="leftcontent">
                        <h2>Описание</h2>
                        <p>Описание</p>
                    </div>
                    <div class="rightcontent">
                        <img src="{% static 'crm/img/doctors/Жылдыз.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h1>Что говорят наши клиенты</h1>
    <hr>
    <div class="clients"></div>
</div>


<div class="contacts">
    <div class="social">
        <h1>Следите за нами</h1>
        <div class="contactlist">
            <ul class="listleft">
                <li>
                    <i class="fab fa-facebook-f"></i>
                    <a href="https://www.facebook.com/alident.bishkek">www.facebook.com</a>
                </li>
                <li>
                    <i class="fab fa-instagram"></i>
                    <a href="https://www.instagram.com/alident.kg/">www.instagram.com</a>
                </li>
                <li>
                    <i class="fab fa-youtube"></i>
                    <a href="">www.youtube.com</a>
                </li>
            </ul>
            <ul class="listright">
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    <a href="https://go.2gis.com/04azn">Фрунзе 364/3</a>
                </li>
                <li>
                    <i class="fas fa-mobile-alt"></i>
                    <a href="https://wa.me/996507140115">+996507140115</a>
                </li>
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="">ali_dent.kg@mail.ru</a>
                </li>
                <li>
                    <i class="fas fa-globe-asia"></i>
                    <a href="">www.ali-dent.kg</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="address">
        <img src="{% static 'crm/img/map2.png' %}" alt="">
        <img src="{% static 'crm/img/map1.png' %}" alt="">
    </div>
</div>
<div class="footer">
    <div class="footer-nav">
        <a href="">Главная</a>
        <a href="">Галерея</a>
        <a href="">Контакты</a>
    </div>
</div>

<script src="{% static 'crm/script.js' %}"></script>
</body>
</html>